# This file ensures that the repository is not marked as 'Jupyter Notebook'. notebook files tend to very long while in practice they are not always the main body of a repository
*.ipynb linguist-vendored
